@charset "UTF-8";
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.navbar {
	background-color: #ff5757 !important;
}

.navbar-brand {
	font-family: League Spartan;
	text-shadow: 2px 2px 4px black;
	color: white !important;
}

#navbarSupportedContent1 {
	font-family: League Spartan;
	color: white !important;
	text-shadow: 2px 2px 4px black;
}

.nav-link {
	color: white !important;
	opacity: 80%;
}

.carouselCaption {
	background-color: #ff5757;
	border-radius: 10px;
}

.carousel-control-next-icon {
	background-color: #ff5757;
	height: 100px;
	width: 50px;
}

.carousel-control-prev-icon {
	background-color: #ff5757;
	height: 100px;
	width: 50px;
}
.carousel-item {
	background-color: #3c7f72;
}

h2 {
	font-family: Shrikhand;
	color: white;
	font-size: 50px;
	text-shadow: 2px 2px 4px black;
}

h5 {
	font-family: Shrikhand;
	font-size: 30px;
	text-shadow: 2px 2px 4px black;
	background-color: #ff5757;
	border-radius: 10px;
}

p {
	font-family: League Spartan;
	font-size: 18px;
	color: black;
}

